dask==0.14.3
Flask-Cors==3.0.2
pipenv==8.2.6
pipreqs==0.4.9
py==1.4.33
python-dateutil==2.6.0
pytz==2017.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.12.2
whitenoise==3.3.1

